# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Snapshot reports (generated, not to be committed)
docs/reports/*-SNAPSHOT/

# Checkstyle
.checkstyle

# Eclipse
.project
.classpath
.factorypath
.settings/

# IDEA
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# KDE
.directory

# OSX
.DS_Store
release-pom.xml
.mvn/wrapper/maven-wrapper.jar
