* text=auto eol=lf
*.zip -text -diff
*.ttf -text -diff
license-maven-plugin/src/test/data/compileCP/test2.txt text eol=crlf
license-maven-plugin/src/test/data/compileCP/test3.txt text eol=crlf
license-maven-plugin/src/test/data/compileCP/test4.txt text eol=crlf
license-maven-plugin/src/test/integration/cp/src/main/resources/header1.txt text eol=crlf
license-maven-plugin/src/test/integration/cp/src/test/resources/header2.txt text eol=crlf
license-maven-plugin/src/test/integration/documents/freemarker1-with-lic.ftl text eol=crlf
license-maven-plugin/src/test/integration/documents/freemarker1.ftl text eol=crlf
license-maven-plugin/src/test/integration/documents/freemarker2-with-lic.ftl text eol=crlf
license-maven-plugin/src/test/integration/documents/freemarker2.ftl text eol=crlf
license-maven-plugin/src/test/integration/documents/header.txt text eol=crlf
license-maven-plugin/src/test/integration/documents/index.apt text eol=crlf
license-maven-plugin/src/test/integration/documents/JavaCommentOneAsterisk.java text eol=crlf
license-maven-plugin/src/test/integration/documents/LicExist.java text eol=crlf
license-maven-plugin/src/test/integration/documents/src.txt text eol=crlf
license-maven-plugin/src/test/integration/documents/style.css text eol=crlf
license-maven-plugin/src/test/integration/documents/test.bat text eol=crlf
license-maven-plugin/src/test/integration/documents/test.cmd text eol=crlf
license-maven-plugin/src/test/integration/documents/test.htm text eol=crlf
license-maven-plugin/src/test/integration/documents/test.html text eol=crlf
license-maven-plugin/src/test/integration/documents/Test.java text eol=crlf
license-maven-plugin/src/test/integration/documents/test.js text eol=crlf
license-maven-plugin/src/test/integration/documents/test.jsp text eol=crlf
license-maven-plugin/src/test/integration/documents/test.sql text eol=crlf
license-maven-plugin/src/test/integration/documents/test.vm text eol=crlf
license-maven-plugin/src/test/integration/documents/Test2.java text eol=crlf
license-maven-plugin/src/test/integration/documents/web.xml text eol=crlf
license-maven-plugin/src/test/integration/languages/csharp/Organizer.cs text eol=crlf
license-maven-plugin/src/test/integration/languages/jsp/textRotate.jspx text eol=crlf
license-maven-plugin/src/test/integration/languages/php/Mmc.php text eol=crlf
license-maven-plugin/src/test/integration/languages/xquery/ml-xqdoc-ws-lib.xqy text eol=crlf
license-maven-plugin/src/test/integration/myconfig.xml text eol=crlf
license-maven-plugin/src/test/integration/pom.xml text eol=crlf
license-maven-plugin/src/test/resources/bouh.txt text eol=crlf
license-maven-plugin/src/test/resources/check/cp/header-in-cp.txt text eol=crlf
license-maven-plugin/src/test/resources/check/def/additionalHeaderDefinitions.xml text eol=crlf
license-maven-plugin/src/test/resources/check/def/doc1.txt text eol=crlf
license-maven-plugin/src/test/resources/check/doc1.txt text eol=crlf
license-maven-plugin/src/test/resources/check/header.txt text eol=crlf
license-maven-plugin/src/test/resources/check/header2.txt text eol=crlf
license-maven-plugin/src/test/resources/check/issue76/after.txt text eol=crlf
license-maven-plugin/src/test/resources/check/issue76/after.xml text eol=crlf
license-maven-plugin/src/test/resources/check/issue76/before.txt text eol=crlf
license-maven-plugin/src/test/resources/check/issue76/before.xml text eol=crlf
license-maven-plugin/src/test/resources/check/issue76/std.txt text eol=crlf
license-maven-plugin/src/test/resources/check/issue76/std.xml text eol=crlf
license-maven-plugin/src/test/resources/check/linewrap/testconfig.xml text eol=crlf
license-maven-plugin/src/test/resources/check/modules/header.txt text eol=crlf
license-maven-plugin/src/test/resources/check/modules/module1/doc1.txt text eol=crlf
license-maven-plugin/src/test/resources/check/pom.xml text eol=crlf
license-maven-plugin/src/test/resources/check/valid/text.txt text eol=crlf
license-maven-plugin/src/test/resources/check/valid/text2.txt text eol=crlf
license-maven-plugin/src/test/resources/doc/doc1.txt text eol=crlf
license-maven-plugin/src/test/resources/doc/doc2.txt text eol=crlf
license-maven-plugin/src/test/resources/doc/doc3.txt text eol=crlf
license-maven-plugin/src/test/resources/doc/doc4.xml text eol=crlf
license-maven-plugin/src/test/resources/doc/doc5.xml text eol=crlf
license-maven-plugin/src/test/resources/doc/doc6.xml text eol=crlf
license-maven-plugin/src/test/resources/doc/doc7.xml text eol=crlf
license-maven-plugin/src/test/resources/doc/doc8.xml text eol=crlf
license-maven-plugin/src/test/resources/doc/doc9.xml text eol=crlf
license-maven-plugin/src/test/resources/extensionless/header.txt text eol=crlf
license-maven-plugin/src/test/resources/remove/doc1.txt text eol=crlf
license-maven-plugin/src/test/resources/remove/doc2.txt text eol=crlf
license-maven-plugin/src/test/resources/remove/header.txt text eol=crlf
license-maven-plugin/src/test/resources/test-header1-diff.txt text eol=crlf
license-maven-plugin/src/test/resources/test-header1.txt text eol=crlf
license-maven-plugin/src/test/resources/test-header2.txt text eol=crlf
license-maven-plugin/src/test/resources/test-header3.txt text eol=crlf
license-maven-plugin/src/test/resources/test-header4.txt text eol=crlf
license-maven-plugin/src/test/resources/unknown/header.txt text eol=crlf
license-maven-plugin/src/test/resources/update/doc1.txt text eol=crlf
license-maven-plugin/src/test/resources/update/doc2.txt text eol=crlf
license-maven-plugin/src/test/resources/update/issue48/test1.php text eol=crlf
license-maven-plugin/src/test/resources/update/issue48/test2.php text eol=crlf