name: Java CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java: [11, 17, 21, 24, 25-ea]
        distribution: ['temurin']
      fail-fast: false
      max-parallel: 4
    name: Test JDK ${{ matrix.java }}, ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ matrix.java }} ${{ matrix.distribution }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
      - name: Test with Maven Using Project Maven Wrapper
        run: ./mvnw clean install site -V -B -D"maven.artifact.threads=64" -D"org.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"
      - name: Set up JDK 11 Integration Run (Consumer Run)
        uses: actions/setup-java@v5
        with:
          cache: 'maven'
          distribution: ${{ runner.os == 'macOS' && 'zulu' || 'temurin' }}
          java-version: 11
      - name: Load Maven 3.6.3 Integration Run (Consumer Run) using GitHub Provided Maven
        run: mvn org.apache.maven.plugins:maven-wrapper-plugin:3.3.1:wrapper -V -B -D"maven=3.6.3"
      - name: Test with Maven 3.6.3 Java 11 (Consumer Run)
        run: ./mvnw invoker:run -V -B -D"maven.artifact.threads=64" -D"org.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"
