name: Snapshot plugin report
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'docs/**'
jobs:
  generate-site:
    if: github.repository_owner == 'mathieucarbou'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          cache: 'maven'
          distribution: 'zulu'
          java-version: '21'
      - name: Build with Maven
        run: ./mvnw clean install site -B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
      - name: Fix eol markers
        run: cd docs && git grep --null --files-with-matches -I '' | while IFS= read -rd '' f; do tail -c1 < "$f" | read -r _ || echo >> "$f"; done
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: '[GA] Update snapshot report'
          title: '[GA] Update snapshot report'
          body: 'This is an auto-generated PR to update the snapshot report.'
          labels: 'in:doc'
          branch: generate-site
          delete-branch: true
